In [1]:
#Import dependencies
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
import os
from collections import Counter
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import RandomOverSampler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from imblearn.combine import SMOTEENN
import sqlalchemy as sa
from sqlalchemy import create_engine
import psycopg2 as pg

# Connect to database

In [2]:
#Connect to Postgresql database 
conn=sa.create_engine('postgresql://root:postgres@dataanalyticsdb.cxnhjzyey4ka.us-east-2.rds.amazonaws.com:5432/coursefinalproject')

# Load data and perform data cleaning

In [3]:
#Load and display data
df=pd.read_sql_query("SELECT * FROM fragmingham", con=conn)
df

,sex,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3653,1,50,1.0,1,1.0,0.0,0,1,0,313.0,179.0,92.0,25.97,66.0,86.0,1
3654,1,51,3.0,1,43.0,0.0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.0,0
3655,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0
3656,1,40,3.0,0,0.0,0.0,0,1,0,185.0,141.0,98.0,25.60,67.0,72.0,0
3657,0,39,3.0,1,30.0,0.0,0,0,0,196.0,133.0,86.0,20.91,85.0,80.0,0

In [ ]:
#Check for null columns

In [ ]:
#Drop null columns

In [ ]:
#Drop unncessary columns

In [ ]:
#Diplay data and peform basic exploration

# Split the data into training and testing

In [ ]:
#Create features

In [ ]:
#Create target

In [ ]:
#Check balance of target values

In [ ]:
#Split data into Train and Test Sets

# Scale the  data

In [ ]:
#Create a StandardScaler instance

In [ ]:
#Fit Standard Scaler

In [ ]:
#Scaling data

# Resample data (Oversampling/Undersampling/Combination) Perform Logistic Regression

In [ ]:
#Resample the training data

In [ ]:
#Train the model

In [ ]:
#Calculate de balanced accuracy score

In [ ]:
#Display the confusion matrix

In [ ]:
#Print the imbalanced classification report

In [ ]:
#List the features sorted in descending order by feature importance

#  As an alternative to the previous step use Easy Ensemble Classifier

In [ ]:
#Train the EasyEnsembleClassifier

In [ ]:
#Calculate the balanced accuracy score

In [ ]:
#Display the confusion matrix

In [ ]:
#Print the imbalanced classification report

In [ ]:
#List the features sorted in descending order by feature importance